/* Nav related space */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    margin-left: 130px;
    margin-top: 50px;

}

nav>ul {
    display: flex;
    align-items: center;
    /* margin-right: 80px; */
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747
}



/* Common shareed styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    width: 150px;
    padding: 18px 35px;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    color: var(--white-color, #FFF);
    font-size: 12px;
    font-weight: 700;
}

header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-position: bottom right;
    background-repeat: no-repeat;

}

.section-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    text-align: center;

}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}


/* Banner styling */

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    padding: 30px 30px 0px 150px;
    max-width: 500px;
}

.banner-greeting {
    color: #474747;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0px;
}

.banner-title {
    color: #181818;
    font-size: 45px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;

}

.banner-text {
    color: #757575;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
}

.profile-pic {
    width: 450px;
}

/* main section styles */
main {
    max-width: 1140px;
    margin: 0px auto;

}

main section {
    margin-top: 130px;
}

/* About section style */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-title {
    color: #757575;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    margin: 5px 0px 02PX;
}

.info-description {
    color: #474747;
    margin-top: 0px;
    padding-top: 0px;
}

/* Skills related style */
#what-i-do-description {
    padding {
        margin: 30px 130px;
    }
}

.skills-container {
    display: flex;
    /* justify-content: space-around; */
}


.skill {
    padding: 30px;
    gap: 24px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* Resume section style */
.resume-column-titile {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 50px;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom:10px;
}

.resume-item-info {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom:20px;

}

.resume-item-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.download-cv{
    text-align: center;
    margin-top:50px;
}
/* Footer style */
footer
{
    display: flex;
    background: #fff8f3;
    padding: 130px 200px;
    margin-top: 100px;
}